
body{
background-color: white;

}
header{
    max-width: 100%;
    background-color: #616367; 
    min-height: 70px;
    display: flex;
    width: 100%;
    justify-content: space-between
}
a.link{
    margin-left: 50px;
}
nav{
    padding-top: 20px;
}
nav.other{
padding-right: 20px;
}
 
div.log{
    width: 20%;
}
li{
    display: inline;
    padding-right: 70px; 
}
li a{
    font-size: 18px;
}
ul{
    padding-top: 18px;
    padding-left: 15px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
     text-decoration: none;
    color: white;   
}

.bulk{
    width:100%;
    
    
}
.modal-controller{
    margin-top: 135px;

}
a.white{
    padding-left:28px;
    color: white;
    font-size: 20px;
}
.contact-heading{
    padding-top: 20px;
}
.white{
    color: white;
}
.logo{
    margin-left: 20px;
}

.link{
    position: relative;
    padding-bottom: 2px;
}
a.active{
    font-size: 22px;
    text-decoration: underline;
    
}
.form label{
    padding-top: 11px;
    display: block;
    font-size: 15.5px;
    font-weight: 400;
}
form.form{
    padding: 0px 50px;
}
form input{
    width: 100%;
    padding: 3.8px;
    border-radius: 4px;
    border:1px solid grey;
    outline: none;
}
form select{
    width: 60%;
    padding: 3.8px;
    border-radius: 4px;

}
.container{
min-height: 500px;
}
.btn.btn-primary{
    margin-top: 15px;
}
.btn.btn-secondary{
    margin-top: 15px;
}
.btn.btn-primary:hover{
    transform: scale(1.04);
}
h3{
    font-size: 25px;
    letter-spacing: 2px;
}
.modal-body{
    padding: 4px 15px 10px 15px ;
}
.modal-footer{
    padding: 6px 15px;
}
.modal-header{
    padding: 10px 15px;
}
/* NAV TRANSITION CSS */
a.link.line:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(245, 245, 245);
    transform: scaleX(0);
    transition: all 0.4s;
    transform-origin: right;

}
a.link.line:hover:after{
    transform: scaleX(1);
}
.gap{
    display: inline;
}
/* NAV TRANSITION CSS ENDS */
.btn-new{
    font-size: 14px;
    color: white;
    background-color: #0095FF;
    
}

.logout{
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
       letter-spacing: 2px;
}
.log{
    padding-top: 20px;
    margin-left: 600px;
}
ul{
    width: 100%;
}
.logout:hover{
    color: black;
    background-color: white;
    transform: scale(1.09);
}

.box-data{
    border: 1px solid rgb(102, 101, 101);
    border-radius: 4px;
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.747);
    
}
.box-gap{
    padding: 40px;
}
footer{
    margin-top: 40px;
    max-width: 100%;
    min-height: 50px;
    background-color: #616367;
    color: white;
}
footer p{
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
}

.col-sm-12{
    margin-top: 35px;
   
}

.two{
    margin-top: 70px;
    /* background-color: tomato; */
    

}
table.table{
    margin-top: 30px;
   
    
}
a.remove{
    color: rgb(230, 26, 26);
    text-decoration: underline;
   
}
a.editbtn{
    color: rgb(230, 26, 26);
    text-decoration: underline;
   
}
div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:500px;}
/* for table */
tr, th, td{
    padding: 20px;
}
  tr{
     font-size: 15px;
     border: 1px solid #0000003d;
   
  }
  
  th{
      background-color:rgba(77, 184, 255, 0.466);
      padding-right: 60px;
      letter-spacing: 1px;
      color: black;
      font-size: 15px;
      font-weight: 500;
     border: 1px solid #00000033;

  }
    td{
        padding: 18px;
        
        
    }
    /* ends for tabel */
    .report{
        padding-left: 30px;
    }

  .submit input{
      padding: 20px;
  }

 form{
     padding:50px;
    
 }
 .form input[text]{
     display: block;
 }



@media(max-width:1024px){


   .log{
    display: inline;
    padding-left: 250px;
    padding-top: 15px;
}

}
@media(max-width:900px){

    .log{
        display: inline;
        padding-left: 125px;
        padding-top: 15px;
    }
    a.white{
        font-size: 16.5px;
    }
    .logout{
        font-size: 11.5px;
        padding: 8px;
        
    }

    .logout:hover{
        outline: none;
    }
}
@media(max-width:606px){
    a.link{
        display: block;
    }
    .log{
        padding-top: 17px;
        padding-left: 0px;
        width: 20%;
    }

}
/* Pixel Phones */
@media(max-width:455px){
    .bulk{
        width: 100%;
        margin-top: 35px;
       
    }
    .modal-controller{
        margin-top: 12px;
    
    }

    .logo{
        margin-left: 0;
    }
    h3{
        font-size: 17.5px;
    }
    .btn{
        font-size: 12px;
    }
    a.link:after{
        display: none;
    }
    a.link:hover:after{
        transform: none;
    }

    .log{
        padding-top: 17px;
        padding-left:55px;
        width: 20%;
    }
    a.white{
        margin-bottom: 15px;
    }
    nav{
       
        padding-left: 15px;
    }
    ul{
        
        padding-left: 2px;
    }
    a.white{
        font-size: 17.5px;
        padding-left: 5px;
        margin-bottom: 15px;
    }
    
    a.link{
        margin-left: 160px;
        display: block;
        font-size: 14.8px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .logout{
        
        font-size: 10.5px;
        padding: 7px;
        letter-spacing: 1.5px;
        
    }
    .logout:hover{
        outline: none;
    }
   .l1{
       padding-top: 30px;
   }
   a.link:hover:after{
    transform: scaleX(0.32);
}
}

@media(max-width:375px){
    .log{
        
        padding-left: 40px;
        width: 30%;
    }
    a.link{
       margin-left: 140px;

    }
    a.link:hover:after{
        transform: scaleX(0.52);
}
}
/* SMALLEST SCREEN */
@media(max-width:320px){
    .log{
        
        padding-left: 40px;
        width: 30%;
    }
    a.link{
        margin-left: 100px;
 
     }
    a.white{
        font-size: 12px;
    }
    a.link:hover:after{
        transform: scaleX(0.38);
      }

    .submit input{
      width: 42%;
    }

}